$color_1: #515158;
$color_2: #aaa;
$color_3: #7d7d86;
$color_4: #fff;
$color_5: #031A62;
$color_6: black;
$color_7: #e4e4e4;
$color_8: #c7c7c9;
$color_9: #00A8FF;
$color_10: -webkit-link;
$font-family_1: "Poppins", "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;

@font-face {
    font-family: 'codropsicons';
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/codropsicons/codropsicons.eot");
    src: url("../fonts/codropsicons/codropsicons.eot?#iefix") format("embedded-opentype"), url("../fonts/codropsicons/codropsicons.woff") format("woff"), url("../fonts/codropsicons/codropsicons.ttf") format("truetype"), url("../fonts/codropsicons/codropsicons.svg#codropsicons") format("svg");
}

@import "https://fonts.googleapis.com/css2?family=Bitter:wght@300;400&family=Poppins:wght@100;500;600;700&display=swap";

* {
    box-sizing: border-box;

    &::after {
        box-sizing: border-box;
    }

    &::before {
        box-sizing: border-box;
    }
}

.clearfix {
    &::before {
        content: '';
        display: table;
    }

    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

body {
    font-family: $font-family_1;
    font-size: 16px;
    color: $color_1;
    background: #f0f0f0;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: $color_2;
    outline: none;

    &:hover {
        color: $color_1;
        outline: none;
    }

    &:focus {
        outline: none;
    }
}

button {
    &:hover {
        color: $color_1;
        outline: none;
    }

    &:focus {
        outline: none;
    }
}

.hidden {
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
    pointer-events: none;
}

.icon {
    display: block;
    width: 1em;
    height: 1em;
    margin: 0 auto;
    fill: currentColor;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.codrops-header {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    display: block;
    align-items: center;
    margin-top: .8rem;
    margin-left: .8rem;

    .bvc__logo {
        margin-top: .5rem;
        text-align: center;
    }

    h1 {
        font-size: 1.1em;
        font-weight: normal;
        line-height: 1;
        margin-top: .1rem;
        margin-left: .2rem;
    }
}

.main {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: calc(100vw - 300px);
    height: 100vh;
}

.mall {
    position: relative;
    width: 100%;
    height: 100%;
    pointer-events: none;
    perspective: 3500px;
    perspective-origin: 0% 25%;
    transition: transform 0.8s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.mall.mall--content-open {
    -webkit-transform: translate3d(0, -25%, 0) scale3d(0.8, 0.8, 1);
    transform: translate3d(0, -25%, 0) scale3d(0.8, 0.8, 1);
}

.surroundings {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 192vmin;
    height: 128vmin;
    margin: -64vmin 0 0 -96vmin;
    pointer-events: none;
    transition: opacity 0.8s;
    transform-style: preserve-3d;
    transform: rotateX(65deg) rotateZ(-40deg) translateZ(0);
}

.levels {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 89vmin;
    height: 64vmin;
    margin: -5vmin 0 0 -43vmin;
    transition: transform 0.3s;
    transform-style: preserve-3d;
    transform: rotateX(65deg) rotateZ(-40deg) translateZ(0);
}

.surroundings__map {
    opacity: 0.3;
    max-width: 100%;
    display: block;
}

.surroundings--hidden {
    opacity: 0;
}

.level {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    pointer-events: auto;
    transition: opacity 1s, transform 1s;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transform-style: preserve-3d;

    &::after {
        font-size: 3.5vmin;
        line-height: 0;
        position: absolute;
        z-index: 100;
        top: -2em;
        left: 3.5em;
        white-space: nowrap;
        color: $color_3;
        transform: rotateX(0) rotateZ(0) translateZ(0);
        transition: transform 1s, color 0.3s;
        transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    }

    &:not(:first-child) {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.level--current {
    &::after {
        transform: rotateY(0) rotateZ(20deg) rotateX(-70deg) translateZ(0) translateX(0) translateY(0);
    }

    .map__space {
        fill-opacity: 1;
    }
}

.level--1 {
    &::after {
        content: 'L1';
    }
}

.level--2 {
    &::after {
        content: 'L2';
    }

    transform: translateZ(20vmin);
}

.level--3 {
    &::after {
        content: 'L3';
    }

    transform: translateZ(40vmin);
}

.levels--selected-1 {
    .level {
        &:not(.level--1) {
            opacity: 0;
        }
    }

    .level--3 {
        transition-delay: 0.1s;
    }

    .level--2 {
        transition-delay: 0.25s;
    }

    .level--current {
        transition-delay: 0.45s;

        &::after {
            transition-delay: 0.45s;
        }
    }
}

.levels--selected-2 {
    .level {
        &:not(.level--2) {
            opacity: 0;
        }
    }

    .level--1 {
        transform: translateZ(-60vmin);
    }

    .level--3 {
        transition-delay: 0.1s;
    }

    .level--current {
        transition-delay: 0.25s;

        &::after {
            transition-delay: 0.25s;
        }
    }
}

.levels--selected-3 {
    .level {
        &:not(.level--3) {
            opacity: 0;
        }
    }

    .level--1 {
        transform: translateZ(-60vmin);
    }

    .level--2 {
        transform: translateZ(-60vmin);
        transition-delay: 0.1s;
    }

    .level--current {
        transition-delay: 0.25s;

        &::after {
            transition-delay: 0.25s;
        }
    }
}

.levels--selected-4 {
    .level {
        &:not(.level--4) {
            opacity: 0;
        }
    }

    .level--1 {
        transform: translateZ(-60vmin);
    }

    .level--2 {
        transform: translateZ(-60vmin);
        transition-delay: 0.1s;
    }

    .level--3 {
        transform: translateZ(-60vmin);
        transition-delay: 0.25s;
    }

    .level--current {
        transition-delay: 0.45s;

        &::after {
            transition-delay: 0.45s;
        }
    }
}

.level--current ~ .level {
    -webkit-transform: translateZ(90vmin);
    transform: translateZ(90vmin);
}

.level.level--current {
    -webkit-transform: translateZ(15vmin) rotate3d(0, 0, 1, 20deg);
    transform: translateZ(30vmin) rotate3d(0, 0, 1, 5deg);
}

.levels--open {
    .level {
        transition: transform 1s, opacity 1s;
        transition-delay: 0s;

        &::after {
            transition: transform 1s, opacity 1s;
            transition-delay: 0s;
        }
    }

    .level.level--current {
        opacity: 1;
    }

    .level.level--moveOutUp {
        opacity: 0;
        transform: translateZ(90vmin);
    }

    .level.level--moveOutDown {
        opacity: 0;
        transform: translateZ(-60vmin);
    }
}

.mallnav {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    transition: opacity 0.8s;
}

.mallnav--hidden {
    pointer-events: none;
    opacity: 0;
}

.mallheader--hidden {
    pointer-events: none;
    opacity: 0;
}

.boxbutton {
    font-size: 2em;
    display: block;
    width: 2em;
    height: 2em;
    margin: 0;
    padding: 0;
    color: $color_4;
    border: 0;
    background: #d7d7dc;
}

.boxbutton--dark {
    background: #c4c4c7;
}

.boxbutton--darker {
    background: #2c2c2f;
}

.boxbutton--alt {
    background: #3d1975;
}

.boxbutton--disabled {
    cursor: default;
    pointer-events: none;
    opacity: 0.2;

    &:focus {
        cursor: default;
        pointer-events: none;
        opacity: 0.2;
    }

    &:hover {
        cursor: default;
        pointer-events: none;
        opacity: 0.2;
    }
}

.map__ground {
    fill: #e6e8ef;
}

.map__ground__l2 {
    fill: #E5F6FF;
}

.map__ground__l3 {
    fill: #FFF3E5;
}

.map__outline {
    transition: fill 0.3s;
    fill: #031A62;
}

.map__tree {
    fill: #7bad7f;
}

.map__lake {
    fill: #a2bbdd;
}

.map__space {
    transition: fill-opacity 0.8s;
    fill: #bdbdbd;
    fill-opacity: 0.6;
}

.map__space--selected {
    fill: #A4A4A4;
}

.content {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 50%;
}

.content__item {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 3em 1.5em;
    text-align: left;
    background: #d7d7dc;
    transition: transform 0.8s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.content--open {
    .content__item {
        transition: none;
    }
}

.content__item--current {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);

    .content__item-title {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .content__item-details {
        opacity: 1;
    }
}

.content__item-title {
    font-size: 1.85em;
    margin: 0;
    padding: 0 0 0.75em 0;
    pointer-events: none;
    font-weight: 700;
    opacity: 0;
    -webkit-transform: translate3d(0, -3em, 0) translate3d(0, -100%, 0);
    transform: translate3d(0, -3em, 0) translate3d(0, -100%, 0);
}

.content__item[data-category='1'] {
    .content__item-title {
        color: $color_5;
    }
}

.content__item[data-category='2'] {
    .content__item-title {
        color: $color_5;
    }
}

.content__item[data-category='3'] {
    .content__item-title {
        color: $color_5;
    }
}

.content__item[data-category='4'] {
    .content__item-title {
        color: $color_5;
    }
}

.content__item--hover {
    .content__item-title {
        opacity: 1;
        transition: opacity 0.3s;
    }
}

.content__item-details {
    opacity: 0;
    margin: 0 auto;
    max-width: 50vmax;
}

.content__meta {
    margin: 0;
    font-size: 0.85em;
    line-height: 1.5;
    margin-bottom: .2em;

    .icon {
        display: inline-block;
        vertical-align: middle;
    }
}

.content__meta-item {
    display: inline-block;
    padding: 0 0.25em;
    color: $color_6;
}

.content__desc {
    text-align: left;
    margin: 7vmin 0 0 0;
}

.content__button {
    position: absolute;
    top: -100%;
    right: 0;
    transition: opacity 0.3s 0.7s;
}

.content__button--hidden {
    pointer-events: none;
    opacity: 0;
    transition: none;
}

.spaces-list {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    min-height: 100vh;
    padding: 5em 0 1em;
    background: #fff;
}

.search {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: calc(100vw - 300px);
}

.search__input {
    width: 100%;
    padding: 1.315em 2em;
    color: $color_4;
    border: 0;
    background: #515158;
    border-radius: 0;

    &:focus {
        outline: none;
    }
}

.label {
    position: absolute;
    top: 4em;
    right: 0;
}

.label__text {
    font-size: 0.85em;
    line-height: 1;
    display: none;
    padding: 1em;
    color: $color_7;
}

.label__checkbox {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;

    &:checked + .label__text {
        color: $color_1;
    }
}

.list {
    margin: 0 0 2em;
    padding: 0 1em 1em 2em;
    list-style: none;
}

.list__item {
    font-size: 1.05em;
    line-height: 1;
    position: relative;
    display: block;

    &:first-child {
        margin-top: 2em;
    }

    &::after {
        content: "L" attr(data-level) " / " attr(data-space);
        font-size: 0.65em;
        line-height: 3;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 0.5em;
        pointer-events: none;
        color: $color_8;
    }
}

.grouped-by-category {
    [data-category='1'] {
        &:first-child {
            margin-top: 4em;

            &::before {
                font-size: 1.25em;
                position: absolute;
                top: -1.75em;
                left: 0;
                color: $color_8;
                content: 'Sessions Jan 4th';
                color: $color_5;
            }
        }
    }

    &:not([data-category='1']) + [data-category='1'] {
        margin-top: 4em;

        &::before {
            font-size: 1.25em;
            position: absolute;
            top: -1.75em;
            left: 0;
            color: $color_8;
            content: 'Sessions Jan 4th';
            color: $color_5;
        }
    }

    [data-category='2'] {
        &:first-child {
            margin-top: 4em;

            &::before {
                font-size: 1.25em;
                position: absolute;
                top: -1.75em;
                left: 0;
                color: $color_8;
                content: 'Sessions Jan 5th';
                color: $color_5;
            }
        }
    }

    &:not([data-category='2']) + [data-category='2'] {
        margin-top: 4em;

        &::before {
            font-size: 1.25em;
            position: absolute;
            top: -1.75em;
            left: 0;
            color: $color_8;
            content: 'Sessions Jan 5th';
            color: $color_5;
        }
    }

    [data-category='3'] {
        &:first-child {
            margin-top: 4em;

            &::before {
                font-size: 1.25em;
                position: absolute;
                top: -1.75em;
                left: 0;
                color: $color_8;
                content: 'Things to Do';
                color: $color_9;
            }
        }
    }

    &:not([data-category='3']) + [data-category='3'] {
        margin-top: 4em;

        &::before {
            font-size: 1.25em;
            position: absolute;
            top: -1.75em;
            left: 0;
            color: $color_8;
            content: 'Things to Do';
            color: $color_9;
        }
    }

    [data-category='4'] {
        &:first-child {
            margin-top: 4em;

            &::before {
                font-size: 1.25em;
                position: absolute;
                top: -1.75em;
                left: 0;
                color: $color_8;
            }
        }
    }

    &:not([data-category='4']) + [data-category='4'] {
        margin-top: 4em;

        &::before {
            font-size: 1.25em;
            position: absolute;
            top: -1.75em;
            left: 0;
            color: $color_8;
        }
    }
}

.list__link {
    font-size: 0.85em;
    display: block;
    padding: 0.5em 0.5em 0.5em 0;

    &:hover {
        color: $color_1;
    }
}

.list__item--active {
    .list__link {
        color: $color_1;
    }
}

.white__fill {
    fill: #FFFFFF;
}

.navy__fill {
    fill: #202D61;
}

.blue__fill {
    fill: #0EAAE2;
}

.level__pins {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transform-style: preserve-3d;
}

.level__pins--active {
    pointer-events: auto;

    .pin__icon {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.pin {
    position: absolute;
    width: 5.5vmin;
    height: 8.25vmin;
    margin: -8.25vmin 0 0 -2.25vmin;
    -webkit-transform: rotateZ(-20deg) rotateZ(45deg) rotateX(-70deg);
    transform: rotateZ(-20deg) rotateZ(45deg) rotateX(-70deg);
    transform-origin: 50% 100%;
    transform-style: preserve-3d;

    &:nth-child(2) {
        .pin__icon {
            transition-delay: 0.05s;
        }
    }

    &:nth-child(3) {
        .pin__icon {
            transition-delay: 0.1s;
        }
    }

    &:nth-child(4) {
        .pin__icon {
            transition-delay: 0.15s;
        }
    }

    &:nth-child(5) {
        .pin__icon {
            transition-delay: 0.2s;
        }
    }

    &:nth-child(6) {
        .pin__icon {
            transition-delay: 0.25s;
        }
    }

    &:nth-child(7) {
        .pin__icon {
            transition-delay: 0.3s;
        }
    }

    &:nth-child(8) {
        .pin__icon {
            transition-delay: 0.35s;
        }
    }

    &:nth-child(9) {
        .pin__icon {
            transition-delay: 0.4s;
        }
    }

    &:hover {
        .icon--logo {
            fill-opacity: 1;
        }
    }
}

.pin__icon {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.pin[data-category='1'] {
    .icon--pin {
        fill: #031A62;
    }
}

.pin[data-category='2'] {
    .icon--pin {
        fill: #031A62;
    }
}

.pin[data-category='3'] {
    .icon--pin {
        fill: #031A62;
    }
}

.pin[data-category='4'] {
    .icon--pin {
        fill: #031A62;
    }
}

.pin--active {
    .pin__icon {
        stroke-width: 1px;
        width: 100%;
        height: 100%;
    }

    .icon--pin {
        stroke-width: 1px;
        width: 100%;
        height: 100%;
    }

    .icon--logo {
        fill-opacity: 1;
    }
}

.icon--pin {
    width: 70%;
    height: 70%;
}

.icon--logo {
    display: none;
}

.pin--1-1 {
    top: 42vmin;
    left: 12vmin;
}

.pin--1-2 {
    top: 20vmin;
    left: 23vmin;
}

.pin--1-3 {
    top: 15vmin;
    left: 88vmin;
}

.pin--1-4 {
    top: 40vmin;
    left: 77vmin;
}

.pin--1-5 {
    top: 54vmin;
    left: 40vmin;
}

.pin--1-6 {
    top: 6vmin;
    left: 27vmin;
}

.pin--1-7 {
    top: 36vmin;
    left: 61vmin;
}

.pin--1-8 {
    top: 9vmin;
    left: 59vmin;
}

.pin--1-9 {
    top: 8vmin;
    left: 51vmin;
}

.pin--2-1 {
    top: 7vmin;
    left: 22vmin;
}

.pin--2-2 {
    top: 39vmin;
    left: 5vmin;
}

.pin--2-3 {
    top: 21vmin;
    left: 84vmin;
}

.pin--2-4 {
    top: 39vmin;
    left: 53vmin;
}

.pin--2-5 {
    top: 14vmin;
    left: 50vmin;
}

.pin--2-6 {
    top: 56vmin;
    left: 19vmin;
}

.pin--2-7 {
    top: 58vmin;
    left: 40vmin;
}

.pin--2-8 {
    top: 54vmin;
    left: 37vmin;
}

.pin--3-1 {
    top: 17vmin;
    left: 15vmin;
}

.pin--3-2 {
    top: 42vmin;
    left: 5vmin;
}

.pin--3-3 {
    top: 19vmin;
    left: 85vmin;
}

.pin--3-4 {
    top: 61vmin;
    left: 57vmin;
}

.pin--3-5 {
    top: 58vmin;
    left: 25vmin;
}

.pin--3-6 {
    top: 30vmin;
    left: 57vmin;
}

.pin--3-7 {
    top: 32vmin;
    left: 37vmin;
}

.pin--4-1 {
    top: 55vmin;
    left: 21vmin;
}

.pin--4-2 {
    top: 18vmin;
    left: 20vmin;
}

.pin--4-3 {
    top: 21vmin;
    left: 88vmin;
}

.pin--4-4 {
    top: 52vmin;
    left: 74vmin;
}

.pin--4-5 {
    top: 33vmin;
    left: 38vmin;
}

.pin--4-6 {
    top: 39vmin;
    left: 56vmin;
}

.pin--4-7 {
    top: 58vmin;
    left: 10vmin;
}

.open-search {
    display: none;
}

.close-search {
    display: none;
}

@media screen and (max-width: 65.625em) {
    .main {
        width: 100vw;
    }

    .spaces-list {
        width: 100vw;
        right: 100%;
        left: auto;
    }

    .search {
        width: 100vw;
        right: 100%;
        left: auto;
    }

    .spaces-list--open {
        right: 0;

        .search {
            right: 0;
        }
    }

    .open-search {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        z-index: 1000;
    }

    .close-search {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        z-index: 1000;
    }

    .mall {
        position: relative;
        width: 100%;
        height: 100%;
        pointer-events: none;
        perspective: 1500px;
        perspective-origin: 0% 25%;
        transition: transform 0.8s;
        transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    }

    .mallnav {
        top: 0;
    }

    .boxbutton {
        float: left;
    }

    .mall.mall--content-open {
        transform: translate3d(0, -15%, 0) scale3d(1.09, 1.09, 1);
    }

    .container {
        overflow: hidden;
    }

    .container--overflow {
        overflow: auto;
    }

    .content__item {
        overflow: auto;
    }

    .codrops-header {
        padding-right: 4em;
        text-align: left;
    }

    .surroundings {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: rotateX(58deg) rotateZ(-37deg) translateZ(0);
    }

    .levels {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: rotateX(58deg) rotateZ(-37deg) translateZ(0);
        width: 89vmin;
        height: 64vmin;
        margin: -32vmin 0 0 -46vmin;
        transition: transform 0.3s;
        transform-style: preserve-3d;
    }

    .level--2 {
        transform: translateZ(20vmin);
    }

    .level--3 {
        transform: translateZ(40vmin);
    }

    .content {
        height: 60%;
    }

    .content__item-title {
        margin-top: .25em;
        font-size: 1.3em;
        padding: 0;
    }

    .content__desc {
        text-align: left;
        margin: 1em 0 0 0;
    }

    a.bvc__link {
        color: $color_10;
        text-align: center !important;
        margin: .75em auto;
        display: block;
    }
}

@media screen and (max-height: 40.625em) {
    .main {
        width: 100vw;
    }

    .spaces-list {
        width: 100vw;
        right: 100%;
        left: auto;
    }

    .search {
        width: 100vw;
        right: 100%;
        left: auto;
    }

    .spaces-list--open {
        right: 0;

        .search {
            right: 0;
        }
    }

    .open-search {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        z-index: 1000;
    }

    .close-search {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        z-index: 1000;
    }

    .mall {
        position: relative;
        width: 100%;
        height: 100%;
        pointer-events: none;
        perspective: 1500px;
        perspective-origin: 0% 25%;
        transition: transform 0.8s;
        transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    }

    .mallnav {
        top: 0;
    }

    .boxbutton {
        float: left;
    }

    .mall.mall--content-open {
        transform: translate3d(0, -15%, 0) scale3d(1.09, 1.09, 1);
    }

    .container {
        overflow: hidden;
    }

    .container--overflow {
        overflow: auto;
    }

    .content__item {
        overflow: auto;
    }

    .codrops-header {
        padding-right: 4em;
        text-align: left;
    }

    .surroundings {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: rotateX(58deg) rotateZ(-37deg) translateZ(0);
    }

    .levels {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: rotateX(58deg) rotateZ(-37deg) translateZ(0);
        width: 89vmin;
        height: 64vmin;
        margin: -32vmin 0 0 -46vmin;
        transition: transform 0.3s;
        transform-style: preserve-3d;
    }

    .level--2 {
        transform: translateZ(20vmin);
    }

    .level--3 {
        transform: translateZ(40vmin);
    }

    .content {
        height: 60%;
    }

    .content__item-title {
        margin-top: .25em;
        font-size: 1.3em;
        padding: 0;
    }

    .content__desc {
        text-align: left;
        margin: 1em 0 0 0;
    }

    a.bvc__link {
        color: $color_10;
        text-align: center !important;
        margin: .75em auto;
        display: block;
    }
}
